<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- custom css -->
    <link rel='stylesheet' type='text/css' media='screen' th:href="@{/css/styles.css}">
    <title>Stocktool</title>
</head>
<body>
    <!-- ADD ETF MODAL -->
    <div id="add-etf-modal" class="modal white">
        <div class="modal-content">
            <div class="row">
                <form th:action="@{/addEtf}" th:object="${etfToCreate}" method="post" class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <h4>Add ETF</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s7">
                                    <input placeholder="Xtrackers MSCI World" th:field="*{name}" id="etf-name" type="text" class="validate">
                                    <label for="etf-name">ETF Display Name</label>
                                </div>
                                <div class="input-field col s3">
                                    <input placeholder="IE00BJ0KDQ92" th:field="*{isin}" id="etf-isin" type="text" class="validate">
                                    <label for="etf-isin">ISIN</label>
                                </div>
                                <div class="input-field col s2">
                                    <input placeholder="A1XB5U" th:field="*{wkn}" id="etf-wkn" type="text" class="validate">
                                    <label for="etf-wkn">WKN</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s7">
                                    <div class="file-field input-field">
                                        <div class="btn waves-effect indigo lighten-1">
                                            <span>Upload CSV</span>
                                            <input type="file" name="csv-input" accept="text/csv">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Upload file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 right-align">
                                    <button class="btn btn-large waves-effect indigo lighten-1" type="submit" name="sumbit-etf-button" th:action="@{/}">Add ETF
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="content-container" class="row">
        <!-- LEFT CONTAINER START -->
        <div id="left-bar" class="col s3 blue-grey darken-4">
            <div id="brand-image-container" class="row center-align">
                <img id="brand-logo" class="responsive-img" th:src="@{/img/stocktool_logo.png}">
            </div>
            <div id="etf-list-container" class="row">
                <div class="col s12">
                    <ul id="etf-list" class="collection">
                        <li th:each="etf: ${etfs}" class="collection-item waves-effect waves-block blue-grey darken-4 white-text">
                            <div class="etf-entry">
                                <div class="row">
                                    <div class="col s12">
                                        <span th:text="${etf.getName()}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s7">
                                        <span th:text="${etf.getIsin()}" class="isin-container"></span>
                                    </div>
                                    <div class="col s5">
                                        <span th:text="${etf.getWkn()}" class="wkn-container">WKN123ETF4</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div id="left-footer" class="fab-footer row right-align">
                <a id="add-etf-button" class="btn-floating btn-large waves-effect indigo lighten-1 margin-fab modal-trigger" href="#add-etf-modal">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>
        <!-- LEFT CONTAINER END -->

        <!-- RIGHT CONTAINER START -->
        <div id="right-container" class="col s9 center-align indigo lighten-5">
            <div id="comparison-container" class="row">
                <div th:if="${etfDetailsWithCommonStocks != null && otherEtfDetailsWithCommonStocks != null}" class="col s12 z-depth-0">
                    <div id="etf-info-container" class="row valign-wrapper">
                        <div class="col s6 border-right">
                            <div class="row">
                                <div class="col s12">
                                    <h5 th:text="${etfDetailsWithCommonStocks.name}"></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s7">
                                    <span th:text="${etfDetailsWithCommonStocks.isin}" class="isin-container"></span>
                                </div>
                                <div class="col s5">
                                    <span th:text="${etfDetailsWithCommonStocks.wkn}" class="wkn-cpntainer"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="row">
                                <div class="col s12">
                                    <h5 th:text="${otherEtfDetailsWithCommonStocks.name}"></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s7">
                                    <span th:text="${otherEtfDetailsWithCommonStocks.isin}" class="isin-container"></span>
                                </div>
                                <div class="col s5">
                                    <span th:text="${otherEtfDetailsWithCommonStocks.wkn}" class="wkn-cpntainer"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="stock-info-container" class="row left-align">
                        <div class="col s6 border-right">
                            <div class="row">
                                <ul>
                                    <li th:each="etfStock: ${etfDetailsWithCommonStocks.stockWithWeightDtos}">
                                        <div class="col s3 offset-s2 text-bold">
                                            <span th:text="${etfStock.name}"></span>
                                        </div>
                                        <div class="col s3">
                                            <span th:text="${etfStock.isin}"></span>
                                        </div>
                                        <div class="col s2">
                                            <span th:text="${etfStock.symbol}"></span>
                                        </div>
                                        <div class="col s2">
                                            <span th:text="${etfStock.weight} + '%'"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="row right-align">
                                <ul>
                                    <li th:each="otherEtfStock: ${otherEtfDetailsWithCommonStocks.stockWithWeightDtos}">
                                        <div class="col s2">
                                            <span th:text="${otherEtfStock.weight} + '%'"></span>
                                        </div>
                                        <div class="col s2">
                                            <span th:text="${otherEtfStock.symbol}"></span>
                                        </div>
                                        <div class="col s3">
                                            <span th:text="${otherEtfStock.isin}"></span>
                                        </div>
                                        <div class="col s3 text-bold">
                                            <span th:text="${otherEtfStock.name}"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="right-footer" class="fab-footer row right-align indigo lighten-5">
                <a id="compare-etf-button" class="btn-floating btn-large waves-effect grey margin-fab">
                    <i class="material-icons">check</i>
                </a>
            </div>
        </div>
        <!-- RIGHT CONTAINER END -->
    </div>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>