<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- custom css -->
    <link rel="stylesheet" href="css/styles.css">
    <title>Stocktool</title>
</head>
<body>
    <div id="content-container" class="row">
        <!-- LEFT CONTAINER START -->
        <div id="left-bar" class="col s3 blue-grey darken-4">
            <div id="brand-image-container" class="row">
                stockTool
            </div>
            <div id="etf-list-container" class="row">
                <div class="col s12">
                    <ul id="etf-list" class="collection">
                        <li class="collection-item waves-effect waves-block waves-purple black">
                            <div class="etf-entry white-text">
                                <div class="row">
                                    <div class="col s12">
                                        <span>Dummy Etf No. 1</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s7">
                                        <span class="isin-container">US0378331005</span>
                                    </div>
                                    <div class="col s5">
                                        <span class="wkn-cpntainer">WKN123ETF4</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="etf-entry">
                                <div class="row">
                                    <div class="col s12">
                                        <span>Dummy Etf No. 2</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s7">
                                        <span>US0378331006</span>
                                    </div>
                                    <div class="col s5">
                                        <span>WKN123ETF4</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="etf-entry">
                                <div class="row">
                                    <div class="col s12">
                                        <span>Dummy Etf No. 3</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s7">
                                        <span>US0378331007</span>
                                    </div>
                                    <div class="col s5">
                                        <span>WKN123ETF4</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="left-footer" class="fab-footer row right-align">
                <a id="add-etf-button" class="btn-floating btn-large waves-effect waves-light indigo lighten-1 margin-fab">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>
        <!-- LEFT CONTAINER END -->

        <!-- RIGHT CONTAINER START -->
        <div id="right-container" class="col s9 center-align blue-grey lighten-5">
            <div id="comparison-container" class="row">
                <div class="col s12 z-depth-0">
                    <div id="etf-info-container" class="row">
                        <div class="col s6 indigo lighten-4">
                            <div class="row">
                                <div class="col s12">
                                    <span><strong>Dummy Etf No.1</strong></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s7">
                                    <span class="isin-container">US0378331005</span>
                                </div>
                                <div class="col s5">
                                    <span class="wkn-cpntainer">WKN123ETF4</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 indigo lighten-5">
                            <div class="row">
                                <div class="col s12">
                                    <span>Dummy Etf No.2</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s7">
                                    <span class="isin-container">US0378331006</span>
                                </div>
                                <div class="col s5">
                                    <span class="wkn-cpntainer">WKN123ETF4</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="stock-info-container" class="row">

                    </div>
                </div>


            </div>
            <div id="right-footer" class="fab-footer row right-align">
                <a id="compare-etf-button" class="btn-floating btn-large waves-effect waves-light grey margin-fab">
                    <i class="material-icons">check</i>
                </a>
            </div>
        </div>
        <!-- RIGHT CONTAINER END -->
    </div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="js/init_sidenav.js"></script>
</body>
</html>